---
import ContentSection from "~/components/content-section.astro";
import { client } from "../../../lib/sanity";
import PortableText from '../../components/PortableText.astro';
import Header from "~/components/header.astro";


const slug = Astro.params.slug;
const eventData = await client.fetch(`*[_type == "event" && slug.current == $slug][0]`, { slug });
const queryImage = `*[_type == "event"] {
  "title": title,
  "content": content[]{
    "text": children[].text,
    "imageUrl": asset->url
  }
}`;

const { title, content } = eventData;

// const dataImage = await client.fetch(queryImage);
// {dataImage.map((evento) => (
//   <div>
//     <h2>{evento.title}</h2>
//     {evento.content.map((elemento) => (
//       <div>
//         <p>{elemento.text}</p>
//         <img src={elemento.imageUrl} alt={elemento.alt} />
//       </div>
//     ))}
//   </div>
// ))}
// console.log("IMAGEN CONSULTA:", dataImage)




---
<Header />
<ContentSection title="Eventos" id="evento">
  <h2>{title}</h2>
</ContentSection>




<PortableText portableText={content} />