---
// Importaciones necesarias
import { Icon } from "astro-icon/components";
import ThemeSwitcher from "~/components/theme-switcher.astro";
import type { NavItem } from "~/types";
import { client } from "../../lib/sanity";
import { Image } from "astro:assets";
import isoTipoTrippyBlanco from "~/assets/isotipo_blanco.png";
import type { Menu } from "../../interface/menu.ts";

let navItems: NavItem[] = [];
async function getData() {
  const query = `*[_type == "menu"]`;
  try {
    const data = await client.fetch(query);
    navItems = data.map((item: Menu) => ({
      title: item.nombre,
      url: `#${item.url}`,
    }));
  } catch (err) {
    console.error("Error fetching data:", err);
  }
}
await getData();
---

<header
  id="page-header"
  class="absolute bottom-0 z-20 flex w-full items-center justify-between border-b border-transparent px-8 py-4 text-white"
>
  <a class="flex items-center gap-3 hover:!text-default" href="#">
    <h1 class="sr-only">Trippy trip</h1>
    <Image class="size-10" src={isoTipoTrippyBlanco} alt="Trippy Trip logo" />
  </a>
  <div>
    <div>
      <div class="flex items-center gap-6">
        <nav class="hidden sm:block">
          <ul class="flex items-center gap-6">
            {
              navItems.map(({ title, url }, index) => (
                <li key={index}>
                  <a class="text-sm" href={url}>
                    {title}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
        <button
          id="open-nav-button"
          type="button"
          class="btn sm:hidden"
          aria-label="Navigation"
        >
          <Icon name="mdi:menu" class="size-8" />
        </button>
        <ThemeSwitcher />
      </div>
      <div id="menu-modal" class="modal hidden" aria-hidden="true">
        <div class="fixed inset-0 bg-default px-8 py-4 text-default">
          <div class="space-y-4" role="dialog" aria-modal="true">
            <header class="text-right">
              <button
                id="close-nav-button"
                type="button"
                class="btn"
                aria-label="Close navigation"
              >
                <Icon name="mdi:close" class="size-8" />
              </button>
            </header>
            <div class="flex justify-center">
              <Image
                class="size-16"
                src={isoTipoTrippyBlanco}
                alt="Trippy Trip logo"
              />
            </div>
            <nav>
              <ul class="flex flex-col">
                {
                  navItems.map(({ title, url }, index) => (
                    <li key={index}>
                      <a class="block py-4 text-center text-xl" href={url}>
                        {title}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="module" client:load>
    import MicroModal from "micromodal";
    // Asegúrate de que MicroModal y cualquier otra dependencia estén disponibles en el cliente

    document.addEventListener("DOMContentLoaded", () => {
      const openNavButton = document.getElementById("open-nav-button");
      const closeNavButton = document.getElementById("close-nav-button");
      const menuModalId = "menu-modal";

      if (openNavButton && closeNavButton) {
        openNavButton.addEventListener("click", () =>
          MicroModal.show(menuModalId),
        );
        closeNavButton.addEventListener("click", () =>
          MicroModal.close(menuModalId),
        );
      }
    });
  </script>
</header>
